<div class="widget-wrap">
  <h3 class="widget-title">About Me</h3>
  <div class="widget">
    <% if (theme.about_widget && theme.about_widget.bio) { %>
    <p class="about-bio"><%- theme.about_widget.bio %></p>
    <% } %>
  </div>
</div>
