<div class="widget-wrap">
	<h3 class="widget-title"><i class="fa fa-globe"></i> Translate</h3>
	<div class="widget google-translate-widget" id="google_translate_element"></div>
</div>
<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({
		pageLanguage: 'zh-CN',
		multilanguagePage: true,
		gaTrack: true,
		gaId: 'UA-39886095-1',
		includedLanguages: 'en,zh-CN,ja,ko,auto',
		layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
	}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
