<div class="search" id="search">
  <form class="search-form search-trigger">
    <span class="search-form-icon"></span>
    <input type="text" class="search-form-input" placeholder="Search..." readonly />
  </form>
</div>
<%- partial('_partial/algolia') %>
