<div class="search">
    <form id="search-form" class="search-form">
        <input  type="text" name="q" id="tipue_search_input" class="search-form-input" autocomplete="off" required placeholder="<%= __('search') %>" />
    </form>
</div>
