<aside class="widget">
    <h3 class="widget-title">关于我</h3>
    <div class="widget-content">
      <p>
          Email：<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#64;&#104;&#122;&#104;&#111;&#117;&#46;&#109;&#101;">&#105;&#64;&#104;&#122;&#104;&#111;&#117;&#46;&#109;&#101;</a><br/>
          Github: <a href="https://github.com/zhouhao" target="_blank">zhouhao</a><br/>
          LinkedIn: <a href="https://www.linkedin.com/in/sbzhouhao" target="_blank">Hao Zhou</a><br/>
      </p>
    </div>
</aside>
