<aside class="widget">
    <h3 class="widget-title">广告</h3>
    <div class="widget-content">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hzhou-default -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8072826058239598"
        data-ad-slot="1252832662"
        data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
</aside>
