<aside class="widget">
    <h3 class="widget-title">Links</h3>
    <div class="widget-content">
        <ul id='link-list'>
            <!-- link begin -->
            <li><a href="http://www.wpilife.org/">伍斯特理工生活</a></li>
            <li><a href="http://chihuo.hzhou.me/">姗姗来吃美食小站</a></li>
            <!-- link end -->
        </ul>
    </div>
</aside>
