<aside class="widget">
    <h3 class="widget-title">Notice</h3>
    <div class="widget-content">
        <p>
            最近收到许多人在LinkedIn上求TripAdvisor refer, 如果大家需要, 可以把你的简历和<a href="https://www.tripadvisor.com/careers/" target="_blank">Job</a>的link发到我的邮箱: refer&hzhou.me.
            如果很fit,我会内部推荐。(建议Engineer职位多练习算法)
        </p>
    </div>
</aside>
