<aside id="search" class="widget widget_search">
    <form id="search-form">
	  <input  type="text" name="q" id="tipue_search_input" autocomplete="off" required placeholder="<%= __('search') %>" style="width:80%;" />
	</form>
</aside>
