<% if (theme.about_me){ %>
<div class="widget about_me">
  <h3 class="title"><%= theme.about_me.title || __('about_me') %> | <a href="/Resume_Hao_Zhou.pdf"> PDF </a></h3>
  <ul class="entry">
    <li><img title="avatar" src="https://www.gravatar.com/avatar/cac5af85578f736e73b8fe491e34b3eb?s=230"/></li>
    <% theme.about_me.texts.forEach(function(item){ %>
    <li><%- item %></li>
    <% }); %>
  </ul>
</div>
<% } %>
