<div class="widget adsense">
<h3 class="title">Ads</h3>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:100%;height:280px"
     data-ad-client="ca-pub-6404655604638004"
     data-ad-slot="9861360977"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>